<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MavenStudentDao">
    <select id="getAll" resultType="com.student.MavenStudent">
        select  *from  maven_student
    </select>
    <insert id="insterStudent">
         insert into maven_student(name,age,date)values (#{name},#{age},#{date})
    </insert>
</mapper>